# настройки сервера
PORT=8080

# настройки базы данных
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tictactoe?sslmode=disable

# настройки для бота
BOT_TOKEN=тут токен бота
SERVICE_URL=http://localhost:8080/command 